body {
  margin: 0;
  background-image: url('./components/assets/background-img.jpg');
  background-size: cover;
  font-family: 'Baloo 2', cursive;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.header-image {
  width: 800px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .9);
  width: 800px;
  margin: auto;
  color: white;
  padding: 30px 0;
  margin-bottom: 40px;
}

.question-image {
  max-width: 500px;
  border: 4px solid #f742ec;
  padding: 10px;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
}

.next-question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer-buttons, .next-button {
  width: 200px;
  margin: 10px;
  font-family: 'Baloo 2', cursive;
  font-size: 20px;
  border-radius: 20px;
  border: 4px solid #42dbfb;
  background-color: black;
  color: white;
  padding: 7px;
  cursor: pointer;
}

.answer-text {
  font-size: 20px;
}

.next-button {
  border: 4px solid #f742ec;
}

.question-progress {
  font-size: 20px;
  color: #f742ec;
}

.summary-text {
  font-size: 35px;
  text-align: center;
}

.scoretext {
  font-size: 30px;
}

.summary-container {
  margin-top: 40px;
}

.summary-image {
  border: 4px solid #42dbfb;
}

footer {
  text-align: center;
  background-color: rgba(0, 0, 0, .9);
  width: 800px;
  margin: auto;
  padding: 20px 0;
  color: white;
  margin-bottom: 40px;
}
